<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Allomany feltoltese</title>
</head>

<body>
    <h2>A bevezetett allomanyok az adott tantargyhoz a kovetkezok:</h2>
    <% allomanyok.forEach(function(item) { %>
        <div>
            <h2>
                <%= item.kod %>
            </h2>
            <p>Kód: <%= item.feltoltendofile %>
            </p>
        </div>
        <% }); %>
</body>

</html>