<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Allomany feltoltese</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>A bevezetett allomanyok az adott tantargyhoz a kovetkezok:</h2>
    <% if (allomanyok.length> 0) { %>
        <ul>
            <% allomanyok.forEach(function(tantargy) { %>
                <% if (tantargy.kod==id) { %>
                    <div>
                        <a href="./uploadDir/<%= tantargy.nev %>" download>Letoltes</a>
                        <%= tantargy.nev %>
                    </div>
                    <% } %>
                        <% }); %>
        </ul>
        <% } else { %>
            <p>Nincsenek állományok ehhez a tantárgyhoz.</p>
            <% } %>
                <h1>Toltson fel egy uj allomanyt a tantargyhoz: </h1>
                <form id="ujallomany" action="/allomany" method="POST" enctype="multipart/form-data">
                    <label for="feltoltendofile">Válassza ki a feltöltendő file-t:</label>
                    <input type="file" id="feltoltendofile" name="feltoltendofile" multiple> <br>
                    <label for="id">A tantargy kodja: </label>
                    <input type="'text" name='id' value=<%=id %>> <br>

                    <input type="submit" value="Allomany hozzaadasa!">
                </form>
                <script src="./valid.js"></script>
</body>

</html>