<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Hibauzenet</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="uzenet">
        <%= message %>
    </h1>
    <script src="./valid.js"></script>
</body>

</html>