<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Belep/kilep</title>
</head>

<body>
    <h1>Csatlakozz egy tantárgyhoz, vagy lépj ki belőle! </h1>
    <form id="ujfelhasznalo" action="/felhasznalo" method="POST" enctype="multipart/form-data">
        <label for="code">Tantárgy kód:</label>
        <input type="text" id="kod" name="kod" required><br>
        <label for="code">Felhasználónév:</label>
        <input type="text" id="usr" name="usr" required><br>
        <p>Mit szeretnél:
            <select name="ki/be">
                <option value="belep">Belpéni</option>
                <option value="kilep" selected>Kilépni</option>
            </select>
        </p>
        <input type="submit" value="Változtatások elküldése!">
    </form>
    <h2>A Csatlakozva vannak a kovetkezo tantargyakhoz:</h2>
    <% felhasznalok.forEach(function(item) { %>
        <div>
            <p>Kód: <%= item.kod %>
            </p>
        </div>
        <% }); %>
</body>

</html>