<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="nagy-cimek">Üdvözöljük az órarendkészítés weboldalán!</h1>
    <h2 class="nagy-cimek">Lépjen be az oldalra: </h2>
    <form id="login" action="/login" method="POST" enctype="multipart/form-data">
        <label for="nev">Név:</label>
        <input type="text" id="nev" name="nev"><br>

        <label for="jelszo">Jelszó:</label>
        <input type="password" id="jelszo" name="jelszo" autocomplete="username"><br>


        <label for="felhasznalo">Felhasználó típusa:</label>
        <select name="felhasznaloTipusLogin" id="felhasznalo">
            <option value="Vendég">Vendég</option>
            <option value="Tanár">Tanár</option>
            <option value="Admin">Admin</option>
        </select>
        <br>
        <input class="submit-gomb" type="submit" value="Belépés">
    </form>
    <script src="./valid.js"></script>
</body>

</html>