<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>User</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="nagy-cimek">Üdvözöljük az órarendkészítés weboldalán!</h1>
    <h2 class="nagy-cimek">Adjon hozzá felhasználókat az oldalhoz! </h2>
    <form id="register" action="/register" method="POST" enctype="multipart/form-data">
        <label for="nev">Név:</label>
        <input type="text" id="nev" name="nev"><br>

        <label for="jelszo">Jelszó:</label>
        <input type="password" id="jelszo" name="jelszo" autocomplete="current-password"><br>

        <label for="felhasznalo">Felhasználó típusa:</label>
        <select id="felhasznalo" name="felhasznaloTipusRegister">
            <option value="Vendég">Vendég</option>
            <option value="Tanár">Tanár</option>
        </select>
        <br>
        <input class="submit-gomb" type="submit" value="Hozzáadás">
    </form>
    <script src="./valid.js"></script>
</body>

</html>