<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Success</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>
        <%= message %>
    </h1>
    <button onclick="window.location.href='/felhasznalo %>'">Tovabbi hozzaadas</button>
    <script src="./valid.js"></script>
</body>

</html>