<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Success</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="nagy-cimek">
        <%= message %>
    </h1>
    <button class="siker" onclick="window.location.href='/tanarhozzaad %>'">Tovabbi hozzaadas</button>
    <script src="./valid.js"></script>
</body>

</html>