<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Syllabus</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="nagy-cimek">A(z) <%= tantargyNev %> tantárgyhoz bevezetett syllabus: </h1>
    <h1>
        <%= syllabusInfo %>
    </h1>
</body>

</html>