<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Tantárgy hozzáadása</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="tantargyhozzaad">
        <h1 class="nagy-cimek">Adjon hozzá egy új órát az órarendhez!</h1>
        <form id="ujtantargy" action="/tantargy" method="POST" enctype="multipart/form-data">
            <label for="code">Kód:</label>
            <input type="text" id="kod" name="kod"><br>

            <label for="nev">Név:</label>
            <input type="text" id="nev" name="nev"><br>

            <label for="evfolyam">Évfolyam:</label>
            <input type="number" id="evfolyam" name="evfolyam"><br>

            <label for="kruzus">Kurzus óraszáma:</label>
            <input type="number" id="kurzus" name="kurzus"><br>

            <label for="szemi">Szeminárium óraszáma:</label>
            <input type="number" id="szemi" name="szemi"><br>

            <label for="labor">Labor óraszáma:</label>
            <input type="number" id="labor" name="labor"><br>

            <input class="submit-gomb" type="submit" value="Tantárgy felvitele">
        </form>
    </div>
    <script src="./valid.js"></script>
</body>

</html>