body {
  background-image: url('hatterkep.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

.button-fooldal, .siker {
  background-color: #1B833E;
  width: 150px;
  height: 30px;
}

.button-fooldal:hover{
  background-color: #145B2B;
}

div input {
  margin-bottom: 10px;
}

.show-details {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(48, 172, 89, 0.5);
}

.nagy-cimek {
  font-size: 50px;
  color: #6bb483;
}

#tantargy-nev, .submit-gomb{
  color:#145B2B;
  font-size: 30px;
}

label, #felhasznalo-valasztas{
  color:#3f8255;
  font-size: 30px;
}

.delete-button{
  color:#145B2B;
  font-size: 20px;
  width: 100px;
  height: 25px;
  background-color: #1FA260;
}
