body {
  background-image: url('hatterkep.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

button {
  background-color: cadetblue;
}

div input {
  margin-bottom: 10px;
}
