body {
  background-image: url('hatterkep.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

.button-fooldal {
  background-color: #1B833E;
  width: 150px;
  height: 30px;
}

.siker {
  background-color: #1B833E;
  width: 150px;
  height: 30px;
}

.button-fooldal:hover{
  background-color: #145B2B;
}

div input {
  margin-bottom: 10px;
}

.show-details, .tanarokKeresei {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(48, 172, 89, 0.5);
}

.nagy-cimek {
  font-size: 50px;
  color: #6bb483;
}

#tantargy-nev, .submit-gomb, .submit-gomb-keres, .felhasznalo-nev, .felhasznalo-tipus{
  color:#145B2B;
  font-size: 30px;
}

label, #felhasznalo-valasztas{
  color:#3f8255;
  font-size: 30px;
}

.delete-button, .download-button{
  color:#145B2B;
  font-size: 20px;
  width: 100px;
  height: 25px;
  background-color: #1FA260;
}

#tanarGombok, #adminGomb, #vendegGomb {
  margin-top: -0.5cm;
}

table {
  align-items: center;
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(48, 172, 89, 0.5);
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #1FA260;
}

#kijelentkezes {
  position: absolute;
  top: 20px;
  right: 20px;
}

.kisForm {
  display: none;
}

